/**** Global Css Variables Definitions *****/
.make-flex {
  display: flex; }

.flt {
  float: left; }

.clr {
  clear: both; }

ul {
  text-decoration: none; }

li {
  list-style-type: none; }

.d-hidden {
  display: none; }

.sidenav {
  height: 100vh;
  width: 250px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: -250px;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s linear; }
  .sidenav .sabio-logo {
    height: 15%; }
    .sidenav .sabio-logo img {
      height: 70px;
      width: 120px;
      padding-left: 15px;
      padding-top: 35px; }
  .sidenav .slide-tabs {
    background-color: #323232;
    height: 75%; }
    .sidenav .slide-tabs a {
      padding: 22px 8px 22px 32px;
      text-decoration: none;
      font-size: 16px;
      color: #F5F5F3;
      font-weight: bold;
      display: block;
      border-bottom: 1px solid #D7D9DB; }
    .sidenav .slide-tabs a:hover {
      color: #f1f1f1; }
  .sidenav .social-links {
    height: 10%;
    background-color: #1B1B1B; }
    .sidenav .social-links .social-links-container {
      padding: 18px 20px; }
      .sidenav .social-links .social-links-container .link {
        padding: 0 !important;
        height: 40px;
        width: 40px;
        border: 1px solid #FEC430;
        border-radius: 50%;
        text-align: center;
        margin: 0 6px;
        line-height: 48px; }
        .sidenav .social-links .social-links-container .link i {
          color: #FFFFFF; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }

  .sidenav a {
    font-size: 18px; } }
div.header {
  height: 70px;
  background-color: #1B1B1B;
  width: 100%;
  z-index: 2; }
  div.header .sabio-logo {
    padding: 0 30px; }
    div.header .sabio-logo img {
      height: 70px;
      width: 120px; }
  div.header .header-tabs {
    margin-top: 22px; }
    div.header .header-tabs ul {
      text-align: center; }
      div.header .header-tabs ul li {
        font-size: 16px;
        color: white;
        font-weight: bold; }
  @media screen and (max-width: 768px) {
    div.header .menu img {
      margin-top: 15px; } }

@media screen and (max-width: 480px) {
  .header {
    position: fixed; } }
.overflow-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }
  .overflow-wrapper .landing-page {
    transition: all 0.5s linear; }
    .overflow-wrapper .landing-page .landing-page-overlay {
      position: absolute;
      background: rgba(0, 0, 0, 0.7);
      height: 100%;
      width: 100%; }
    .overflow-wrapper .landing-page .sabio-video img {
      height: 100%;
      width: 100%; }
    .overflow-wrapper .landing-page .clients-and-partners {
      margin-bottom: 30px; }
      .overflow-wrapper .landing-page .clients-and-partners .heading-text {
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center; }
        .overflow-wrapper .landing-page .clients-and-partners .heading-text div {
          font-size: 22px;
          font-weight: bold;
          margin-bottom: 10px; }
      .overflow-wrapper .landing-page .clients-and-partners .carousel-sec .clients-carousel, .overflow-wrapper .landing-page .clients-and-partners .carousel-sec .partners-carousel {
        margin-bottom: 20px; }
        .overflow-wrapper .landing-page .clients-and-partners .carousel-sec .clients-carousel .carousel-sec-inner .img-container img, .overflow-wrapper .landing-page .clients-and-partners .carousel-sec .partners-carousel .carousel-sec-inner .img-container img {
          height: 80px;
          width: 80px;
          margin: 0 auto; }
      @media screen and (max-width: 480px) {
        .overflow-wrapper .landing-page .clients-and-partners .carousel-sec .partners-carousel .carousel-sec-inner .img-container .width-expand {
          width: 120px; } }
    .overflow-wrapper .landing-page footer .yellow-top {
      height: 7px;
      width: 100%;
      background-color: #FEC430; }
    .overflow-wrapper .landing-page footer .content {
      background-color: #1B1B1B; }
      .overflow-wrapper .landing-page footer .content .logo-link {
        color: white; }
        .overflow-wrapper .landing-page footer .content .logo-link .footer-heading {
          font-size: 22px;
          font-weight: bold;
          margin-bottom: 20px;
          text-align: center; }
        .overflow-wrapper .landing-page footer .content .logo-link .sabio-logo {
          margin-top: 30px; }
          .overflow-wrapper .landing-page footer .content .logo-link .sabio-logo img {
            margin: 0 auto; }
        .overflow-wrapper .landing-page footer .content .logo-link .social-links-container {
          margin: 0 auto; }
          .overflow-wrapper .landing-page footer .content .logo-link .social-links-container .link {
            padding: 0 !important;
            height: 40px;
            width: 40px;
            border: 1px solid #FEC430;
            border-radius: 50%;
            text-align: center;
            margin: 0 6px;
            line-height: 48px; }
            .overflow-wrapper .landing-page footer .content .logo-link .social-links-container .link i {
              color: #FFFFFF; }
      .overflow-wrapper .landing-page footer .content .mid-content {
        justify-content: space-around;
        padding-top: 30px;
        padding-bottom: 30px; }
        .overflow-wrapper .landing-page footer .content .mid-content .logo-link {
          flex-direction: column; }
          .overflow-wrapper .landing-page footer .content .mid-content .logo-link .footer-logo {
            margin-top: 50px;
            margin-bottom: 40px; }
            .overflow-wrapper .landing-page footer .content .mid-content .logo-link .footer-logo img {
              width: 225px; }
        @media screen and (max-width: 480px) {
          .overflow-wrapper .landing-page footer .content .mid-content .logo-link {
            flex-direction: column; } }
        .overflow-wrapper .landing-page footer .content .mid-content .sabio-tweets {
          overflow: hidden; }
          .overflow-wrapper .landing-page footer .content .mid-content .sabio-tweets .tweet-header {
            display: flex; }
            .overflow-wrapper .landing-page footer .content .mid-content .sabio-tweets .tweet-header div.tweet-bird {
              margin-right: 20px; }
              .overflow-wrapper .landing-page footer .content .mid-content .sabio-tweets .tweet-header div.tweet-bird i.fa-twitter {
                color: #FEC430;
                font-size: 48px; }
            .overflow-wrapper .landing-page footer .content .mid-content .sabio-tweets .tweet-header .tag {
              color: #FFFFFF; }
              .overflow-wrapper .landing-page footer .content .mid-content .sabio-tweets .tweet-header .tag p {
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 4px; }
              .overflow-wrapper .landing-page footer .content .mid-content .sabio-tweets .tweet-header .tag div {
                font-size: 11px; }
          .overflow-wrapper .landing-page footer .content .mid-content .sabio-tweets .tweets {
            overflow: auto;
            height: 300px;
            margin-top: 20px; }
            .overflow-wrapper .landing-page footer .content .mid-content .sabio-tweets .tweets .user-tweet {
              margin-bottom: 20px; }
              .overflow-wrapper .landing-page footer .content .mid-content .sabio-tweets .tweets .user-tweet .image-message {
                padding: 15px; }
                .overflow-wrapper .landing-page footer .content .mid-content .sabio-tweets .tweets .user-tweet .image-message .twitter-image {
                  margin-right: 20px; }
                  .overflow-wrapper .landing-page footer .content .mid-content .sabio-tweets .tweets .user-tweet .image-message .twitter-image img {
                    height: 50px;
                    width: 50px; }
                .overflow-wrapper .landing-page footer .content .mid-content .sabio-tweets .tweets .user-tweet .image-message .twitter-message {
                  width: 330px;
                  color: #FFFFFF; }
                  .overflow-wrapper .landing-page footer .content .mid-content .sabio-tweets .tweets .user-tweet .image-message .twitter-message .profile-name {
                    font-weight: 600;
                    font-size: 11px; }
                  .overflow-wrapper .landing-page footer .content .mid-content .sabio-tweets .tweets .user-tweet .image-message .twitter-message .profile-tweet {
                    font-size: 11px; }
              .overflow-wrapper .landing-page footer .content .mid-content .sabio-tweets .tweets .user-tweet .vertical-dots .dot {
                background-color: #FFFFFF;
                height: 3px;
                width: 3px;
                border-radius: 50%;
                margin-bottom: 3px; }
        @media screen and (max-width: 480px) {
          .overflow-wrapper .landing-page footer .content .mid-content .sabio-tweets::after, .overflow-wrapper .landing-page footer .content .mid-content .connect::after {
            content: '';
            height: 1px;
            width: 100%;
            background-color: #D7D9DB;
            opacity: .7;
            display: block;
            margin-top: 30px;
            margin-bottom: 30px; } }
      .overflow-wrapper .landing-page footer .content .connect {
        color: #FFFFFF; }
        .overflow-wrapper .landing-page footer .content .connect .footer-heading {
          font-size: 22px;
          font-weight: bold;
          margin-bottom: 20px;
          text-align: center; }
        .overflow-wrapper .landing-page footer .content .connect .form-container form input.form-control {
          background-color: #323232;
          margin-bottom: 15px;
          border: none;
          padding: 8px 14px;
          color: white;
          width: 90%; }
        .overflow-wrapper .landing-page footer .content .connect .form-container form div {
          position: relative; }
          .overflow-wrapper .landing-page footer .content .connect .form-container form div button {
            background-color: #FEC430;
            padding: 10px;
            color: #1B1B1B;
            font-weight: bold;
            border: none;
            text-align: left;
            width: 140px; }
          .overflow-wrapper .landing-page footer .content .connect .form-container form div i {
            position: absolute;
            left: 106px;
            top: 5px;
            color: #1B1B1B; }
      .overflow-wrapper .landing-page footer .content .bottom-tabs {
        border-top: 1px solid #D7D9DB; }
        .overflow-wrapper .landing-page footer .content .bottom-tabs .slide-tabs {
          padding-top: 20px;
          padding-bottom: 30px; }
          .overflow-wrapper .landing-page footer .content .bottom-tabs .slide-tabs a {
            font-size: 18px;
            margin-right: 25px;
            color: #95989A;
            font-weight: 700; }
    @media screen and (max-width: 480px) {
      .overflow-wrapper .landing-page footer .content .mid-content {
        flex-direction: column; }
        .overflow-wrapper .landing-page footer .content .mid-content .sabio-tweets {
          order: 1; }
        .overflow-wrapper .landing-page footer .content .mid-content .connect {
          order: 2; }
        .overflow-wrapper .landing-page footer .content .mid-content .logo-link {
          order: 3;
          flex-direction: column; }
          .overflow-wrapper .landing-page footer .content .mid-content .logo-link .follow-us {
            order: 1; }
          .overflow-wrapper .landing-page footer .content .mid-content .logo-link .social-links-container {
            order: 2; }
          .overflow-wrapper .landing-page footer .content .mid-content .logo-link .sabio-logo {
            order: 3; }
            .overflow-wrapper .landing-page footer .content .mid-content .logo-link .sabio-logo img {
              width: 120px; } }
  @media screen and (max-width: 480px) {
    .overflow-wrapper .landing-page {
      margin-top: 70px; } }

/*# sourceMappingURL=custom.css.map */
